@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h5>The secret content from server</h5>
    <p>Gandalf: <span id="content-server"></span></p>

    <h5>The secret content from client</h5>
    <p> My name is Inigo Montoya: <span id="content-client"></span></p>
</div>